* {
    font-family: Nunito;
}

.header-content {
    background-image: url('images/header.jpg');
    background-size: cover;
    position: relative;
}

.header-content::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 70%;
}

.text-underline {
    position: relative;
}

.text-underline::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100%;
    border-bottom: 2px solid #eab308;
    bottom: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.percentage {
    animation: progress 1500ms ease-in 1;
}

@keyframes progress {
    from {
        width: 0;
    }
}